<div class="container">
  <div class="row">
    <div class="col-md-12 bg-green-300">
      <h3 class="text-center">New Categories</h3>
      <p class="text-center mb-5">you can add new categries from here</p>
      <!-- <form action="" class="text-center flex" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group col-md-10">
          <input type="text" class="form-control" placeholder="add new categories" name="category" #inputcat="ngModel" ngModel required
          [ngClass]="{'is-invalid': inputcat.touched&&inputcat.invalid}"
          >
          <div class="alert alert-danger p-0" *ngIf="inputcat.touched&&inputcat.invalid&&f.invalid">Field required</div>
        </div>
        <div class="col-md-2">
          <button class="text-white p-2 mb-2 bg-green-900" [disabled]="f.invalid"
           [ngClass]="{
            'bg-green-200 hover:cursor-not-allowed':f.invalid
            }">Add Category</button>
        </div>
      </form> -->
      <div></div>
    </div>
  </div>
</div>
.
